<!DOCTYPE html>
<html lang="en">

<head>
    <!-- Vendor Scripts -->
    <script src="js/vendor/jquery-2.1.4.min.js"></script>
    <!-- Normalizing CSS -->
    <link rel="stylesheet" href="css/normalize.css">
    <link rel="stylesheet" href="css/application.css">
    <title>BurritoLove</title>
</head>

<body>
    <div class='container'>
        <div class='left-vertical'>
            <div class='cn'>
                <a class='inner' href="/fallspace"><img class='home-image' src="http://static1.squarespace.com/static/50c25455e4b0ef5720704c6b/54b94ba5e4b0b5bb4be6a892/54b94d72e4b0c2c1fae545b6/1421430256503/Spaceship.png"></a>
            </div>
        </div>
        <div class='right-vertical'>
            <div class='cn'>
                <a class='inner' href="/footballurrito"><img class='home-image' src="http://www.chipotle.co.uk/Content/Images/menu/burrito2x.png"></a>
            </div>
        </div>
    </div>
</body>

</html>
