#field {
    height: 468px;
    width: 1004px;
    border: black 2px solid;
    background-image: url('/customGames/footballurrito/img/field.png');
    background-size: 1004px 468px;
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.player {
    background-image: url('/customGames/footballurrito/img/standingplayer.png');
    position: absolute;
    background-size: 20px 20px;
    background-repeat: no-repeat;
    height: 20px;
    width: 20px;
    z-index: 10000000;
}

.burrito {
    background-image: url('/customGames/footballurrito/img/burrito.png');
    position: absolute;
    width: 60px;
    height: 46px;
    background-size: 60px 46px;
    background-repeat: no-repeat;
}

.opponent {
    position: absolute;
    background-repeat: no-repeat;
    z-index: 10000000;
}
